.arrowl {
    position: absolute;
    height: 100%;
    width: 10%;
    background-color: #ff00ff00;
    /*לשנות לשקוף*/
    border-color: #00000000;
}

.arrowl:hover {
    background-image: url("../img/אייקונים/arrow\ L.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.arrowr {
    position: absolute;
    height: 100%;
    width: 10%;
    right: 0;
    background-color: #f0f0;
    /*לשנות לשקוף*/
    border-color: #00000000;
}

.arrowr:hover {
    background-image: url("../img/אייקונים/arrow\ R.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.zoom {
    border: 0;
    padding: 0;
    position: absolute;
    background-color: #0ff0;
    /*לשנות לשקוף*/
    border-color: #00000000;
}

.zoom:hover {
    background-image: url(../img/אייקונים/זכוכית\ מגדלת.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    cursor: zoom-in;
}

.backbut {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    background-image: url(../img/אייקונים/arrow\ B.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-color: #ff00;
    /*לשנות לשקוף*/
    border-color: #0000;
    height: 30%;
    width: 14%;
    right: 0;
    bottom: 0;
}

.backbut:hover {
    background-image: url(../img/אייקונים/arrow\ B1.png);
    cursor: pointer;
}

.inpu {
    border: 0;
    padding: 0;
    position: absolute;
    background-color: #0f00;
    /*לשנות לשקוף*/
    border-color: #0000;
    text-align: center;
}

#mycanvas {
    position: absolute;
    /*background-color: #ff00ff;*/
    height: 20%;
    width: 8.1815%;
    left: 0;
    top: 0;
}

.button:hover {
    cursor: pointer;
}

#arroNextRoom {
    position: absolute;
    display: none;
}

#arroNextRoom:hover {
    background-image: url("../img/אייקונים/arrow U.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}